@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: lightslategrey;
    padding: 1em 0;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 3em;
    margin: 0;
}

.subtitle {
    font-size: 2em;
    margin-top: 0;
    font-weight: lighter;
}

.navlink {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    margin: 0px 10px;
}

.navlink:hover {
    text-decoration: underline rgba(0, 0, 0, 1);
}

section {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(2n) {
    background-color: lightgrey;
}

.section-title {
    margin: 0.25em;
    font-size: 1.75em;
}

.baju, .about, .contact {
    margin-bottom: 0.5em;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.baju-img {
    width: 30%;
    height: auto;
    margin: 1em;
    border: 5px solid white;
    border-radius: 10px;
}

.baju-details {
    padding: 1em;
}

.baju-details-title {
    font-size: 1.5em;
}

.baju-details-price {
    font-weight: bold;
    font-size: 1.25em;
}

.baju-details-buy {
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.25em 0.75em;
    transition: color 300ms, background-color 300ms;
}

.baju-details-buy:hover {
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}

.about-desc, .contact-desc {
    margin: 0.5em;
}

em {
    font-style: normal;
    font-weight: bold;
}

td:nth-child(1) {
    font-weight: bold;
}

td:nth-child(2) {
    padding-left: 1em;
    text-align: right;
}

.contact-link {
    color: black;
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.contact-link:hover {
    text-decoration: underline rgba(0, 0, 0, 1);
}

footer {
    padding: 1.5em;
    text-align: center;
    background-color: lightgrey;
}
